:root {
  /*
    * Most of these colors are from tailwindcss
    * https://tailwindcss.com/docs/customizing-colors#default-color-palette
    */
  --bg: #FFF;
  --bg-80: rgba(255, 255, 255, 0.8);
  --white: #FFF;
  --gray-300-90: rgba(226, 232, 240, 0.9);
  --gray-500: #A0AEC0;
  --gray-600: #718096;
  --gray-700: #4A5568;
  --gray-800: #2D3748;
  --blue-400: #63B3ED;
  --blue-400-45: rgba(99, 179, 237, 0.45);
  --border: #CBD5E0;
  --bg-pill: #CBD5E0;
}

.search-wrapper.theme-dark {
  --bg: #1A202C;
  --bg-80: rgba(13, 15, 18, 0.8);
  --white: #25282F;
  --gray-300-90: rgba(9, 11, 14, 0.9);
  --gray-500: #596473;
  --gray-600: #596473;
  --gray-700: #718096;
  --gray-800: #A0AEC0;
  --blue-400: #3182CE;
  --blue-400-45: rgba(49, 130, 206, 0.45);
  --border: #313131;
  --bg-pill: rgba(9, 11, 14, 0.9);
}

.search-wrapper.theme-coffee {
  --bg: #231d1e;
  --bg-80: rgba(35, 29, 30, 0.8);
  --white: #c4babb;
  --gray-300-90: rgba(31, 25, 26, 0.9);
  --gray-500: #6e6062;
  --gray-600: #6e6062;
  --gray-700: #8f8183;
  --gray-800: #c4babb;
  --blue-400: #725a5e;
  --blue-400-45: rgba(114, 90, 94, 0.45);
  --border: #423232;
  --bg-pill: rgba(31, 25, 26, 0.9);
}

.search-wrapper.theme-spearmint {
  --bg: #304140;
  --bg-80: rgba(48, 65, 64, 0.8);
  --white: #b4c7c6;
  --gray-300-90: rgba(39, 57, 55, 0.9);
  --gray-500: #59706f;
  --gray-600: #6e8584;
  --gray-700: #91a7a5;
  --gray-800: #b4c7c6;
  --blue-400: #4c8380;
  --blue-400-45: rgba(90, 140, 130, 0.45);
  --border: #3c5251;
  --bg-pill: rgba(39, 57, 55, 0.9);
}

.search-wrapper.theme-ocean {
  --bg: #2a4574;
  --bg-80: rgba(23, 55, 93, 0.8);
  --white: #b4c7c6;
  --gray-300-90: rgba(19, 46, 79, 0.9);
  --gray-500: #75a3de;
  --gray-600: #75a3de;
  --gray-700: #b1d0ff;
  --gray-800: #def5fc;
  --blue-400: #3F80D8;
  --blue-400-45: rgba(30, 143, 255, 0.45);
  --border: #28405d;
  --bg-pill: rgba(19, 46, 79, 0.9);
}

.search-wrapper.theme-summer
{
  
  --bg: #e0aa13;  /*repeating-linear-gradient(45deg, red 0px, #ffa500 20px, #ffff00 20px, #008000 20px, #0000ff 20px, #4b0082 20px, #ee82ee); */
  --bg-80: #e0b66d; /*repeating-linear-gradient(45deg, #ff0000 0px, #ffa500 20px, #ffff00 20px, #008000 20px, #0000ff 20px, #4b0082 20px, #ee82ee, 0.8); */ /* background */
  --white: #e2e06e;
  --gray-300-90: rgb(224,182,109);
  --gray-500: #325e1e; /*close button */
  --gray-600: #325e1e; /* search tab*/
  --gray-700: #325e1e;/*navigate, bottom tab, on hover */
  --gray-800: #325e1e; /* table content, no hover */
  --blue-400: #800020;
  --blue-400-45: rgba(227, 243, 8, 0.45);
  --border-col: #20354f;

}